.tempBG {
    background-color: #ffcccc;
}

.humidityBG {
    background-color: #cce5cc;
}

.windBG {
    background-color: #ffffcc;
}

.cloudsBG {
    background-color: #ccccff;
}

@media(max-width:992) {

    ul {
        display: none;
    }

} 